@font-face {
    font-family: ABeeZee;
    src: url(./fonts/ABeeZee-Regular.ttf);
}
@font-face{
    font-family: Pangolin;
    src: url(./font2/Pangolin-Regular.ttf);
}
@font-face{
    font-family: Rubik;
    src: url(./font3/Rubik-VariableFont_wght.ttf);
}   
* {
    box-sizing: border-box;
    font-family: ABeeZee;
    margin: 0;
    padding: 0;
}

.nav ul {
    color: black;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding-right: 10%;
    padding-top: 1.5rem;
}

.nav ul li {
    align-items: center;
    border-right: 1px solid black;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 120px;
}

.nav a {
    color: black;
    text-decoration: none;
}

.nav a:hover {
    color: black;
}

.nav a:active {
    color: black;
}

.nav ul li:last-of-type {
    border-right: none;
}

main{
    margin: 120px;
}

.main-div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.main-div button{
    background: #3BA1C2;  
    border-radius: 5px;
    color: #FFFFFF;
    height: 60px;
    width: 190px;
}
.vector-img{
    margin-bottom: -3px;
    margin-left: 20px;
    margin-top: 2px;
}

.divider{
    width:300px;
    border-top: 6px solid #3A8DA8;
}
.catalogue{
    font-size: 60px;
    font-family: Pangolin;
}
.month-offer{
    margin-top: 68px;
    font-size: 40px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px auto;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    margin:40px;
}

.container h1{
    font-family: Pangolin;
}

.container figcaption{
    font-family: Rubik;
}

.container div{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    color: #979697;
}

.container-product1{
    grid-row: 2;
    grid-column: 1;
    height: 300px;
}

.container-product2{
    grid-row: 2;
    grid-column: 2;
    height: 300px;
}

.container-product3{
    grid-row: 2;
    grid-column: 3;
    height: 300px;
}
.product1-caption{
    grid-row: 3;
    grid-column: 1;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
}

.product2-caption{
    grid-row: 3;
    grid-column: 2;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
}

.product3-caption{
    grid-row: 3;
    grid-column: 3;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
}

.product1-description{
    grid-row: 4;
    grid-column: 1;
    width: 260px;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
}

.product2-description{
    grid-row: 4;
    grid-column: 2;
    width: 210px;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
}

.product3-description{
    grid-row: 4;
    grid-column: 3;
    width: 210px;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
}